.task{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    justify-content: space-between;
}
.task input[type=checkbox]{
    width: 15px;
    height: 15px;
}
.task input[type=button]{
    width: 85px;
    height: 30px;
    background-color: cornflowerblue;
    border-radius: 2px;
    outline: none;
}
.task label{
    font-size: 15px;
    width: 30px;
}

.strikethrough:checked+label{
    text-decoration: line-through;
}

